<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h2>Please Login</h2>
    <form action="/login" method="POST">
        <label for="userid">Email</label>
        <input type="email" name="userid" id="userid" required>
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Submit</button>
    </form>
</body>

</html>